<h4>Log in</h4>
<p><%= notice %></p>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="col-md-3">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control login-form", placeholder: "name@example.com" %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control login-form" %>
  <br>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
</div>
