<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
<% if @picture.errors.any? %>
  <div id="error_explanation" class="alert alert-danger col-md-6">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="picture_content">
  <div class="col-md-6">
    <%= form.label :content , "投稿内容" %>
    <%= form.text_field :content , class: "form-control", id: "exampleFormControlTextarea1", rows:"3" %>
    <br>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <%= form.file_field :image, class: "image_form" %>
    <%= form.hidden_field :image_cache %>
  </div>
</div>
<br>
<%= form.submit "投稿", class: "btn btn-primary" %>
<%= form.label :image, "画像アップロード", class: "btn btn-outline-primary" %>
<% end %>
<br>
<%= link_to '投稿一覧へ', pictures_path, class: "btn btn-outline-success"%>
