<h4>以下の内容で送信</h4>
<%= form_with(model: @picture, local: true, url: pictures_path) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文: <%= @picture.content %></p>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.hidden_field :image_cache %>
  <br>
  <%= form.submit  "登録する", class: "btn btn-primary" %>
  <%= form.submit "戻る", name: 'back', class: "btn btn-outline-primary" %>
<% end %>
