<h1>投稿一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.content %></td>
    <td><%= image_tag picture.image.url if picture.image && picture.image.url %></td>
    <td><%= picture.user.name %></td>
    <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
    <% if picture.user_id == current_user.id %>
    <td><%= link_to '編集する', edit_picture_path(picture.id) %></td>
    <td><%= link_to '削除する', picture_path(picture.id), method: :delete, data: { confirm: "本当に削除していいですか？" } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to '投稿画面へ', new_picture_path %>
