<p><%= notice %></p>
<%= link_to '投稿画面へ', new_picture_path, class: "btn btn-primary" %>
<br><br>
<% @pictures.each do |picture| %>
<div class="card-layout">
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title"><%= picture.user.name %>  <a class="created_at_label">- <%= picture.created_at %></a></h5>
    <p class="card-text"><%= picture.content %><p><%= image_tag picture.image.url if picture.image && picture.image.url %></p>
    <%= link_to '詳細', picture_path(picture.id), class: "btn btn-outline-success"%>
    <% if picture.user_id == current_user.id %>
    <%= link_to '編集', edit_picture_path(picture.id), class: "btn btn-outline-success" %>
    <%= link_to '削除', picture_path(picture.id), class: "btn btn-outline-danger", method: :delete, data: { confirm: "本当に削除していいですか？" } %>
    <% end %>
    <% @favorite = current_user.favorites.find_by(picture_id: picture.id) %>
      <% if @favorite.present? %>
        <%= link_to '', favorite_path(id: @favorite.id), class: "fas fa-heart unlike-btn", method: :delete %>
      <% else %>
        <%= link_to '', favorites_path(picture_id: picture.id), class: "far fa-heart unlike-btn", method: :post %>
      <% end %>
    <span class="badge bg-danger"><%= picture.favorites.count %></span>
  </div>
</div>
<br>
</div>
<% end %>
