<h4>詳細</h4>
<div class="card-layout">
<div class="card w-50">
  <div class="card-body">
    <p class="card-text"><%= @picture.content %></p><p><%= image_tag @picture.image.url if @picture.image && @picture.image.url %></p>
    <%= link_to '投稿一覧へ', pictures_path, class: "btn btn-outline-success"%>
      <% if @favorite.present? %>
        <%= link_to '', favorite_path(id: @favorite.id), class: "fas fa-heart unlike-btn", method: :delete %>
      <% else %>
        <%= link_to '', favorites_path(picture_id: @picture.id), class: "far fa-heart unlike-btn", method: :post %>
      <% end %>
    <span class="badge bg-danger"><%= @picture.favorites.count %></span>
  </div>
</div>
<br>
</div>
